<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Jogadores Presentes</title>
</head>
<body>
    <h2>Jogadores Presentes</h2>

    <ul>
        {% for j in jogadores %}
            <li>{{ j['nome'] }} - {{ j['posicao_1'] }} / {{ j['posicao_2'] }} - {{ j['pontuacao'] }} pontos</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('sorteio') }}" method="get">
        <button type="submit">Realizar Sorteio</button>
    </form>
</body>
</html>
