<!DOCTYPE html>
<html>
<head>
    <title>Jogo 2 Confirmado</title>
</head>
<body>
    <h1>Jogadores Confirmados para o Jogo 2</h1>
    <table border="1">
        <tr><th>Nome</th><th>Posição 1</th><th>Posição 2</th><th>Pontos</th></tr>
        {% for j in jogadores %}
            <tr>
                <td>{{ j[0] }}</td>
                <td>{{ j[1] }}</td>
                <td>{{ j[2] }}</td>
                <td>{{ j[3] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

